# DB
DB_DATABASE="dist/data/zk-groups.db"

# Jwt
JWT_SECRET_KEY="zk_groups_jwt_secret"

# Session
SESSION_SECRET="keyboard cat"

# Docker
DOMAIN=zk-groups
DEPLOY_COLOR=""
DOCKER_REMOTE_CONTEXT=""
DOCKER_DEFAULT_PLATFORM="linux/amd64"

# App
BASE_URL="http://localhost:3333"
DASHBOARD_URL="http://localhost:4200"

# Github Passport
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

# Twitter Passport
TWITTER_CONSUMER_KEY=""
TWITTER_CONSUMER_SECRET=""

# Reddit Passport
REDDIT_CLIENT_ID=""
REDDIT_CLIENT_SECRET=""
