/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
    --ifm-color-primary: #8d0e57;
    --ifm-color-primary-dark: #7f0d4e;
    --ifm-color-primary-darker: #780c4a;
    --ifm-color-primary-darkest: #630a3d;
    --ifm-color-primary-light: #9b0f60;
    --ifm-color-primary-lighter: #a21064;
    --ifm-color-primary-lightest: #b71271;
    --ifm-code-font-size: 95%;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
    --ifm-color-primary: #ff66d2;
    --ifm-color-primary-dark: #ff42c7;
    --ifm-color-primary-darker: #ff30c2;
    --ifm-color-primary-darkest: #fa00b0;
    --ifm-color-primary-light: #ff8adc;
    --ifm-color-primary-lighter: #ff9ce2;
    --ifm-color-primary-lightest: #ffd1f2;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

html {
    font-size: 18px;
}

.navbar__title {
    font-size: 25px;
}

.navbar__brand:hover {
    color: unset;
}

[data-theme='light'] .DocSearch {
    /* --docsearch-primary-color: var(--ifm-color-primary); */
    /* --docsearch-text-color: var(--ifm-font-color-base); */
    --docsearch-muted-color: var(--ifm-color-secondary-darkest);
    --docsearch-container-background: rgba(94, 100, 112, 0.7);
    /* Modal */
    --docsearch-modal-background: var(--ifm-color-secondary-lighter);
    /* Search box */
    --docsearch-searchbox-background: var(--ifm-color-secondary);
    --docsearch-searchbox-focus-background: var(--ifm-color-white);
    /* Hit */
    --docsearch-hit-color: var(--ifm-font-color-base);
    --docsearch-hit-active-color: var(--ifm-color-white);
    --docsearch-hit-background: var(--ifm-color-white);
    /* Footer */
    --docsearch-footer-background: var(--ifm-color-white);
}

[data-theme='dark'] .DocSearch {
    --docsearch-text-color: var(--ifm-font-color-base);
    --docsearch-muted-color: var(--ifm-color-secondary-darkest);
    --docsearch-container-background: rgba(47, 55, 69, 0.7);
    /* Modal */
    --docsearch-modal-background: var(--ifm-background-color);
    /* Search box */
    --docsearch-searchbox-background: var(--ifm-background-color);
    --docsearch-searchbox-focus-background: var(--ifm-color-black);
    /* Hit */
    --docsearch-hit-color: var(--ifm-font-color-base);
    --docsearch-hit-active-color: var(--ifm-color-white);
    --docsearch-hit-background: var(--ifm-color-emphasis-100);
    /* Footer */
    --docsearch-footer-background: var(--ifm-background-surface-color);
    --docsearch-key-gradient: linear-gradient(-26.5deg,
            var(--ifm-color-emphasis-200) 0%,
            var(--ifm-color-emphasis-100) 100%);
}
