name: release

permissions:
    contents: write

on:
    push:
        tags:
            - "v*"

jobs:
    release:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - uses: actions/checkout@v4

            - name: Install Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 18.x
                  cache: "yarn"

            - name: Build monorepo
              run: yarn

            - run: yarn version:release
              env:
                  GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
